:root {
  --color-bg: #0d1117;
  --color-bg-accent: #0c131dff;
  --color-bg-accent-blue: #131826;
  --color-text: #c9d1d9;
  --color-text-accent: #8b949e;
  --color-border: #30363d;
  --color-link: #58a6ff;
  --color-link-hover: #79b8ff;
  --color-btn-text: #ffffff;
  --color-btn-hover: #1f6febff;
  --color-shadow: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-text);
}

.bold {
  font-weight: 700;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

::-webkit-scrollbar {
  display: none;
}

/* Nav */

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2vw;
  box-sizing: border-box;
  background-color: var(--color-bg-accent-blue);
}

#centrenavtext {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 7vh;
  margin-left: 2vw;
  color: var(--color-text);
}

.nav-title {
  opacity: 1;
  pointer-events: auto;
  margin-left: 2vw;
  text-align: left;
}

#hamburgermenu {
  height: 100%;
  width: 12vh;
  border-radius: 0;
  border: none;
  background-color: var(--color-btn-hover);
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--color-btn-text);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
#hamburgermenu::before {
  content: "";
  width: 5vh;
  height: 5vh;
  display: block;
  background-color: currentColor;
  -webkit-mask: url("assets/icons/nrk-list.svg") center / contain no-repeat;
  mask: url("assets/icons/nrk-list.svg") center / contain no-repeat;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header */

header {
  width: 100%;
  height: 42vw;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 12vh;
  z-index: 10;
}

#headersection {
  width: 50%;
  background-color: var(--color-bg-accent);
}

#headerimg {
  width: 50%;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  object-fit: cover;
}

#headertop {
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 1.1;
  color: var(--color-text);
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.headertxt {
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 1.1;
  color: var(--color-text);
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.social-links {
  display: block;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 8vh;
  font-style: normal;
}

.social-list {
  display: flex;
  gap: 2vw;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-link {
  display: inline-flex;
  width: 8vh;
  height: 8vh;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  background-color: var(--color-bg-accent-blue);
  color: var(--color-btn-text);
  transition: background-color 0.2s ease;
  position: relative;
}

.social-link::before {
  content: "";
  width: 5vh;
  height: 5vh;
  background-color: currentColor;
  display: block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.social-link:hover,
.social-link:focus-visible {
  background-color: var(--color-btn-hover);
}

.social-link--github::before {
  mask-image: url("assets/icons/github.svg");
  -webkit-mask-image: url("assets/icons/github.svg");
}

.social-link--linkedin::before {
  mask-image: url("assets/icons/linkedin.svg");
  -webkit-mask-image: url("assets/icons/linkedin.svg");
}

.social-link--youtube::before {
  mask-image: url("assets/icons/youtube.svg");
  -webkit-mask-image: url("assets/icons/youtube.svg");
}

/* Main content */

.breakup {
  height: 6vh;
  display: flex;
  align-items: center;
  margin-left: 4vw;
  margin-top: 2vh;
  margin-bottom: 6vh;
  font-size: 4vh;
  color: var(--color-text-accent);
}

.breakup h2 {
  font-weight: 500;
}

.breakup-line {
  flex-grow: 1;
  margin-left: 4vw;
  margin-right: 4vw;
  height: 4px;
  background-color: var(--color-text-accent);
}

main {
  width: 100%;
  position: relative;
  z-index: 20;
  background-color: var(--color-bg);
  margin-top: 0;
  padding-top: 3vh;
}

.portfolio-burrito {
  column-count: 2;
  column-gap: 2vw;
  margin: 0 3vw;
}

.portfolio50 {
  break-inside: avoid;
  margin: 0 0 2vw;
  position: relative;
  overflow: hidden;
}

.portfolio-project-figcaption {
  height: 7vw;
  margin-top: 0vw;
  font-size: 1.2vw;
  color: var(--color-text);
  background-color: var(--color-bg-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-project-figcaption h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5vw;
  font-size: 2.5vw;
  font-weight: 500;
}

.portfolio-project-figcaption a {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-right: 1vw;
  padding: 1vw 1.5vw;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  color: var(--color-btn-text);
  background-color: var(--color-btn-hover);
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.portfolio-project-figcaption a:hover {
  background-color: var(--color-link-hover);
  transition: background-color 0.2s ease;
}

.portfolio-image {
  width: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
}

.portfolio-image-figcaption {
  position: absolute;
  inset: auto 0 0;
  padding: 1.5vw;
  margin: 0;
  background-color: rgba(13, 17, 23, 0.8);
  color: var(--color-text);
  font-size: 1.6vw;
  line-height: 1.4;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.portfolio-image--lang {
  height: 80vw;
}

.portfolio-image--middels {
  height: 50vw;
}

.portfolio-image--kort {
  height: 35vw;
}

.portfolio-image--ekstrakort {
  height: 28vw;
}

.image-burrito {
  margin: 0 3vw;
}

.image100 {
  width: 100%;
  break-inside: avoid;
  margin: 0 0 2vw;
  position: relative;
  overflow: hidden;
}

.image-image {
  width: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
  height: auto;
}

.image-60 {
  width: 59%;
  float: left;
  object-fit: cover;
  margin: 0 1% 0 0;
}

.image-40 {
  width: 39%;
  float: right;
  object-fit: cover;
  margin: 0 0 0 1%;
}

.image-image--stor {
  height: 60vw;
}

.image-image--kort {
  height: 35vw;
}

.image-image--middels {
  height: 65vh;
}

.header-burrito {
  width: 100%;
  margin: 0;
}
